@@ -0,0 +1,2 @@
# Project exclude paths
/target/
 8  .idea/.gitignore
@@ -0,0 +1,8 @@
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Progect Idea\SECURITY2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
 13  .idea/compiler.xml
@@ -0,0 +1,13 @@
<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="CompilerConfiguration">
    <annotationProcessing>
      <profile name="Maven default annotation processors profile" enabled="true">
        <sourceOutputDir name="target/generated-sources/annotations" />
        <sourceTestOutputDir name="target/generated-test-sources/test-annotations" />
        <outputRelativeToContentRoot value="true" />
        <module name="SECURITY2" />
      </profile>
    </annotationProcessing>
  </component>
</project>
 15  .idea/dataSources.xml
@@ -0,0 +1,15 @@
<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="DataSourceManagerImpl" format="xml" multifile-model="true">
    <data-source source="LOCAL" name="data123@127.0.0.1" uuid="ac8550f7-4a6f-4a82-bb01-f68c3464a061">
      <driver-ref>mysql.8</driver-ref>
      <synchronize>true</synchronize>
      <jdbc-driver>com.mysql.cj.jdbc.Driver</jdbc-driver>
      <jdbc-url>jdbc:mysql://127.0.0.1:3306/data123</jdbc-url>
      <working-dir>$ProjectFileDir$</working-dir>
      <driver-properties>
        <property name="serverTimezone" value="UTC" />
      </driver-properties>
    </data-source>
  </component>
</project>