<!DOCTYPE html>
<html lang="en" xmlns:th="http:\\thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/update(id=${user.getId()})}" th:object="${user}">
    <label for="name">Edit user's name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>

    <label for="surname">Edit user's surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br>

    <label for="profession">Edit user's profession</label>
    <input type="text" th:field="*{profession}" id="profession"/>
    <br>

    <label for="email">Edit user's email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>

    <label for="password">Edit user's password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>

    <label for="selectRoles">Edit user's ROLE</label>
    <select name="selectRoles[]" required multiple id="selectRoles">
        <option value="ROLE_ADMIN">ADMIN</option>
        <option value="ROLE_USER">USER</option>
    </select>
    <br>

    <input type="submit" value="Save"/>users
</form>
<br>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
<br>
<br>

<input type="button" onclick="history.back();" value="Back"/>
</body>
</html>