<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div>
<!--    <form method="post" action="${pageContext.request.contextPath}/login">-->
<!--    <form method="post" action="@{/login}">-->
    <form method="post" action="/login">
        <label for name="email">E-mail</label>
        <br>
        <input name="email"/>
        <br>

        <label for name="password">Password</label>
        <br>
        <input name="password"/>
        <br>

        <input type="submit" value="LogIn"/>
    </form>
</div>

</body>
</html>