<!DOCTYPE html>
<html lang="en" xmlns:th="http:\\thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>

</head>
<body>

<table border="3">
    <tr>
        <th bgcolor="#add8e6" style="color: darkred">Users</th>
    </tr>
    <tr th:each="user : ${users}">
        <th>
            <a th:href="@{/admin/(id=${user.getId()})}" th:text="${user.getName()}"></a>
        </th>
        <th>
            <form th:method="POST" th:action="@{/admin/edit(id=${user.getId()})}">
                <input type="submit" value="Edit"/>
            </form>
        </th>
        <th>
            <form th:method="DELETE" th:action="@{/admin/{id}/delete(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </th>
    </tr>

</table>
<br>
<form th:method="GET" th:action="@{/admin/new}">
    <input type="submit" value="Add new User"/>
</form>
<br>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>